<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/ico" href="/images/logo.png" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />

    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="../css/submitGradeint.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/validate.js"></script>
    <script src="../js/main.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Prisma | Submit Gradient</title>
  </head>
  <body bgcolor="#f6f6f6">
    <div class="content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="row align-items-center">
              <div class="col-lg-7 mb-5 mb-lg-0">
                <h2 class="mb-5">
                  Fill the form to Submit a Gradient. <br />
                  It's easy.
                </h2>

                <form
                  class="border-right pr-5 mb-5"
                  method="post"
                  id="gform"
                  name="form"
                  onsubmit="return false"
                >
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input
                        type="text"
                        class="form-control"
                        name="fname"
                        id="fname"
                        placeholder="First name"
                      />
                    </div>
                    <div class="col-md-6 form-group">
                      <input
                        type="text"
                        class="form-control"
                        name="lname"
                        id="lname"
                        placeholder="Last name"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <input
                        type="text"
                        class="form-control"
                        name="email"
                        id="email"
                        placeholder="Email"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 form-group">
                      <input
                        type="text"
                        class="form-control"
                        name="hex1"
                        id="hex1"
                        placeholder="Hex"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <input
                        type="text"
                        class="form-control"
                        name="hex2"
                        id="hex2"
                        placeholder="Hex"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div id="gsubmit">
                        <button
                          class="btn btn-primary rounded-0 py-2 px-4"
                          type="button"
                        >
                          <a href="../index.html" style="color: white">Back</a>
                        </button>
                        <button
                          class="btn btn-primary rounded-0 py-2 px-4"
                          type="submit"
                          id="submit"
                        >
                          Submit
                        </button>
                      </div>
                      <span class="submitting"></span>
                    </div>
                  </div>
                </form>

                <div id="form-message-warning mt-4"></div>
                <div id="form-message-success">
                  Your message was sent, thank you!
                </div>
              </div>
              <div class="col-lg-4 ml-auto">
                <h3 class="mb-4">Let's talk about everything.</h3>
                <p>
                  Prisma is a free collection of 100+ linear gradients that you
                  can use as content backdrops in any part of your website. Easy
                  copy CSS3 crossbrowser code and use it in a moment!
                </p>
                <p><a href="#">Read more</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-content">
        <p>
          Prisma is a free collection of 100+ linear gradients that you can use
          as content backdrops in any part of your website. Easy copy CSS3
          crossbrowser code and use it in a moment!
        </p>
      </div>
      <ul class="footer-socials">
        <li>
          <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://www.google.com"><i class="fa fa-google-plus"></i></a>
        </li>
        <li>
          <a href="https://www.youtube.com"><i class="fa fa-youtube"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com"
            ><i class="fa fa-linkedin-square"></i
          ></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
